# ==============================================================================
#  CUSTOM ARCHITECT ADJUSTMENTS (Terraform, Big Data & Vector DBs)
# ==============================================================================

# Industry-standard Terraform ignores
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*tfstate
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Big Data & Local Analytics Storage (Spark / Hadoop / Processing)
derby.log
metastore_db/
spark-warehouse/
.pyspark/
*.crc
# Ignora todo o conteúdo da pasta data (incluindo os Parquets pesados)...
data/*
# ...EXCETO a nossa massa de testes JSON para o time conseguir rodar o projeto
!data/raw_contracts.json

# AI & Vector Databases (ChromaDB, FAISS, Vector Storage)
.chroma/
*.db
*.local
logs/

# IDE & Editor Project Settings (Good practice to keep uncommented)
.idea/
.vscode/
*.swp

# Python Cache & Compiled Files (Prevents dirty commits from execution)
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments (Python, Node, etc.)
venv/
.venv/

# Environment Variables (Never commit sensitive info)
.env
**/.streamlit/secrets.toml

# Scripts utilitários locais
upload_s3.py